#services {
  width: 100%;
  height: auto;
  /* background-image: url("../Images/texturebg.png"); */
}

.image-card {
  height: 300px;
  width: 300px;
}

.service-name {
  font-size: 29px;
  font-weight: bold;
  font-family: "SF Pro Display";
}
.service-text {
  font-size: 16px;
  text-align: justify;
  font-family: "SF Pro Display";
}

/* mobile view */
@media only screen and (max-width: 576px) {
  #services {
    height: auto;
  }
  h1 {
    font-size: 2rem;
  }
  .services-text {
    margin-left: 50px;
  }
}
/* Media query for iPads and tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #services {
    height: 87vh;
  }
  h1 {
    font-size: 2rem;
  }
}
