/* Shift.css */
#shift {
  font-family: "SF Pro Display";
  margin-top: 10px;
}
.shift-card {
  width: 305.06px;
  height: 464px;
  border-radius: 20px;
  border: none;
  background-color: black;
  color: white;
  font-family: "SF Pro Display ";
}
.shift-text{
  font-family: "SF Pro Display Bold";
}
.shift-card-img {
  width: 306.5px;
  height: 303.16px;
  border-radius: 20px 20px 0 0; /* No quotes around the values */
}

.card-head {
  font-size: 40px;
  font-family: "SF Pro Display";
  font-weight: bold; /* Corrected property */
}

.card-text {
  font-size: 20px;
  font-family: "SF Pro Display";
}

@media only screen and (max-width: 576px) {
  .shift-text {
    font-size: 44px;
  }

  .card-head {
    font-size: 16px;
  }
  .card-text {
    font-size: 14px;
  }

  .shift-card {
    width: 100%;
    height: 45%;
    margin-bottom: 15px;
    padding: 0px;
  }

  .shift-card-img {
    width: 100%;
    height: 51%;
    border-radius: 10px;
  }
}

/* Add another media query for larger screens if needed */
@media only screen and (min-width: 577px) {
  .shift-text {
    font-size: 90px;
    /* font-family: "SF Pro Display Bold"; */
  }
}
