/* Home.css */

@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');

* {
  margin: 0;
  padding: 0;
  
}
body{
  overflow-x: hidden;
}

#intro{
  width: 100%;
  height: 250vh;
  background-color: #FFA800;
  background-image:  url('../Images/texturebg.png');;
}
#introtext{
  padding-top: 231px;
  padding-left: 50px;
  text-align: left;
  position: relative;

}

.bag{
  position: absolute;
  top: -35px;
  right: 350px;
  width: 417px;
  height: 417px;
  z-index: 10;

}
.chair{
  position: absolute;
  top: 86px;
  right: 750px;
  width: 417px;
  height: 417px;
  z-index: 00;

}
.bed{
  position: absolute;
  top: 144px;
  right: 100px;
  z-index: 10;

}
.almarah{
  position: absolute;
  top: -50px;
  right: px;
  left: 300px;
  z-index: 10;

}
.boxout{
  position: absolute;
  z-index: 20;
  top: 645px;
}
.fullbox{
  position: absolute;
  z-index: 0;
  
}
.box{
  position: absolute;
  top: 500px;
  
}

.mym, .qae {
font-size: 30px; /* Set desired font size */
margin: 0; 
}

#scos{
width: 100%;
height: 100vh;

background-image:  url('../Images/aboutc.png');;
}
.text{
padding-top: 100px;
}
.cmy{
font-size: 30px; /* Set desired font size */
margin: 0;
text-align: left;
padding-left: 100px;
}
/* services */
#services{
width: 100%;
background-color: #FFA800;
}

#shead{
margin-bottom: 35px;
font-size: 70px;
padding-top: 50px;
}

.service-cards{
display: grid;
grid-template-columns: auto auto ;
place-items: center;
}

.service-ccard {
 display: flex; 
 margin-bottom: 40px;
flex-direction: column;

/* margin: 50px; */
border: 1px solid #ccc;
border-radius: 5px;
width: 500px; 

padding: 20px;
font-size: 30px;
text-align: center;
}

.service-ccard img {
width: 100%; /* Image width to fill the ccard */
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}

.service-details {
padding: 10px; /* Padding for service details */
height: 100px; /* Set a fixed height for the ccard body */
display: flex;
flex-direction: column;
}

.service-details h3 {
margin-bottom: 10px;
}

.service-details p {
font-size: 14px;
margin: 0;
}

#shift{
background: #ff6b6b;
height: 493px;
/* display: grid;
grid-template-columns: auto auto auto auto;  */
 /* Horizontally center the items */
/* margin-top: 20px; */
}
.shift-items{
color: yellow;
display: grid;
grid-template-columns: auto auto auto auto;
padding-top: 93px;
padding-left: 135px;

}
.shift-item{
background-color: black;
height: auto;
width: 200px;
align-items: center;
}
.ccard-img {
width: 100%; /* Adjust the width to fill the ccard */
height: auto; /* Maintain aspect ratio */
max-height: 200px; /* Set maximum height as needed */
object-fit: cover; /* Resize image to cover its container */
}
#shift h1{
padding-top:30px ;
}
#book{
display: grid;
grid-template-columns: auto auto ;
background-color: blue;
height: 550px;
}
.books-labels {
/* margin: 10px 10px; */
background-color: chartreuse;
display: grid;
grid-template-columns: auto  ;
align-items: center;
}



/* #description {
grid-column: span 2;
grid-row: 4;
} */



#location{
    height: 500px;
    background-color: teal;
    display: flex;
    flex-direction: row;
    grid-template-columns: auto auto;
}
.loc{
  background-color: springgreen;
  width: 500px
}
