/* Home.css */

@import url("https://fonts.googleapis.com/css2?family=Notable&display=swap");

* {
  margin: 0;
  padding: 0;
}
.p {
  margin-bottom: 0;
}
body {
  overflow-x: hidden;
}

#intro {
  width: 100%;
  height: 250vh;
  min-height: 200vh;
  background-color: #ffa800;
  background-image: url("../Images/texturebg.png");
  background-size: cover;
  background-repeat: no-repeat;
  /* position: relative; */
}

#introtext {
  padding-top: 231px;
  padding-left: 50px;
  text-align: left;
  position: relative;
}
/* #about{
  height: auto;
} */

.boxout {
  position: absolute;
  z-index: 20;
  top: 645px;
}
.fullbox {
  position: absolute;
  z-index: 0;
}
.box {
  position: absolute;
  top: 500px;
}

/* services */
#services {
  width: 100%;
  height: 100vh;
  background-color: #ffa800;
}

#shead {
  margin-bottom: 35px;
  font-size: 70px;
  padding-top: 50px;
}

.service-cards {
  display: grid;
  grid-template-columns: auto auto;
  place-items: center;
}

.service-ccard {
  display: flex;
  margin-bottom: 40px;
  flex-direction: column;

  /* margin: 50px; */
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 500px;

  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.service-ccard img {
  width: 100%; /* Image width to fill the ccard */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.service-details {
  padding: 10px; /* Padding for service details */
  height: 100px; /* Set a fixed height for the ccard body */
  display: flex;
  flex-direction: column;
}

.service-details h3 {
  margin-bottom: 10px;
}

.service-details p {
  font-size: 14px;
  margin: 0;
}

#location {
  height: 500px;
  background-color: teal;
  display: flex;
  flex-direction: row;
  grid-template-columns: auto auto;
}
.loc {
  background-color: springgreen;
  width: 500px;
}
