/* Header.css */


@font-face {
  font-family: 'SF Pro';
  src: local('SF Pro'), local('SF-Pro'), url('../../Fonts/Sfpro/SFPRODISPLAYREGULAR.OTF') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro';
  src: local('SF Pro'), local('SF-Pro'), url('../../Fonts/Sfpro/SFPRODISPLAYBOLD.OTF') format('opentype');
  font-weight: bold;
  font-style: normal;
}


.logo{
  margin-right: 950px;
}
header {
  background-color: rgba(0, 0, 0, 0.86);
  color: #fff;
  padding: 10px 20px;
  height: 90px;
  text-align: right; /* Align all text to the right */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: 'SF Pro', sans-serif;
  display: flex;
}

.profile-icon {
  width: 50px; /* Set the desired width */
  height: auto; /* Maintain aspect ratio */
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}