.App {
  text-align: center;
}
body {
  /* background: url("./Components/Images/texturebg.png") no-repeat center center
      fixed,
    linear-gradient(
      to top,
      rgba(127, 127, 213, 0.8),
      rgba(134, 168, 231, 0.8),
      rgba(145, 234, 228, 0.8)
    );
  background-size: cover; */
  background: linear-gradient(to bottom, #F1FCF8, #7CD4C0);
}

@font-face {
  font-family: "Protest Strike";
  src: local("Protest Strike"),
    url("../src/Fonts/another/ProtestStrike-Regular.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Oswald-Regular";
  src: local("Oswald-Regular"),
    url("../src/Fonts/another/Oswald-Regular.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display Medium";
  src: url(./Fonts/Sfpro/SFPRODISPLAYMEDIUM.OTF) format("opentype");
}

@font-face {
  font-family: "SF Pro Display";
  src: url(./Fonts/Sfpro/SFPRODISPLAYREGULAR.OTF) format("opentype");
}
@font-face {
  font-family: "SF Pro Display Bold";
  src: url(./Fonts/Sfpro/SFPRODISPLAYBOLD.OTF) format("opentype");
}
/* 
* {
  font-family: "SF Pro Display";
} */

/* h1 {
  font-family: "SF Pro Display Bold";
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
